Maintainer: Dambaev Alexander <theice@inbox.ru>
Priority: optional
Section: network
Package: hproxy
Version: 1.2.1
Architecture: i386
Depends: ssh-askpass-gnome
         , openssh-client
         , zenity
Description: No description available.
